@import url(https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css);
@import url(./topbar-style.css);

.container {
  height: 90vh;
  background-color: #f0f0f0;
}

.center {
  display: flex;
  justify-content: center;
}

.signup-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: 700px;
  width: 640px;
  border-top: 6px solid #92d050;
  box-shadow: 8px 8px 8px #e2e2e2;
}

.text {
  color: #92d050;
  margin: 70px 0 30px 80px;
  font-size: 30px;
  font-weight: bold;
}

#signup-form {
  display: flex;
  flex-direction: column;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 16px;
  color: gray;
}

form > input {
  border-width: 0;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 30px;
  height: 50px;
  width: 500px;
}

button {
  position: relative;
  top: 70px;
  left: 380px;
  background-color: #92d050;
  border: none;
  border-radius: 15px;
  height: 40px;
  width: 90px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
